*{
    padding: 0;
    margin: 0;
}



.movie_text{
   
    background-color: rgba(0, 255, 255, 0.158);
    padding: 18px 0px 18px 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: block;
  
}

.left_search_form{
    display:block
}




.box_wrapp{
    
    display: flex;
    max-height: 700px;
    overflow: auto;
    justify-content: space-between;
    flex-wrap: wrap;
}


